.layout {
    padding: 80px;
}

.projectCard {
    background-color: transparent;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.projectImage {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.projectCard:hover {
    background-color: hsl(0, 0%, 40%);
}

.title {
    margin-bottom: 0 !important;
}

.titleDropdown {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}